# list are ordered sequences that can hold a variety of object types

In [1]:
# define a list
my_list = [1,2,3]

In [2]:
len(my_list)

3

In [3]:
# indexing
mylist = ["one", "two", "three"]
mylist[1:]

['two', 'three']

In [4]:
# concatination
another_list = ["four", "five", "six"]
mylist + another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [5]:
# mutate elements
new_list = mylist + another_list
new_list[0] = "ONE ALL CAPS"
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [6]:
# add element to end of the list
new_list.append("seven")

In [7]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [8]:
# removing items from a list
new_list.pop()

'seven'

In [9]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [10]:
popped_item = new_list.pop()

In [11]:
popped_item

'six'

In [12]:
# using index to pop element
new_list.pop(0)

'ONE ALL CAPS'

In [13]:
# sort list
new_list = ["a", "e", "x", "b","c"]
num_list = [1,4,2,78,54]

In [14]:
# sort alphabetically in place, cant be reassigned to new variable
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [15]:
# same with numbers
num_list.sort()
num_list

[1, 2, 4, 54, 78]

In [16]:
# reverse list
num_list.reverse()
num_list

[78, 54, 4, 2, 1]